<h1>Login</h1>

<form>
    <section>
        <label for="email-input">Email</label>
        <input id="email-input"/>
    </section>
</form>

<form>
    <section>
        <label for="password-input">Password</label>
        <input id="password-input"/>
    </section>
</form>

<section>
    <button type="submit">Login</button>
</section>