<h1>Signup</h1>

<form>
    <section>
        <label for="email-signup">Email</label>
        <input id="email-signup"/>
    </section>
</form>

<form>
    <section>
        <label for="password-signup">Password</label>
        <input id="password-signup"/>
    </section>
</form>

<section>
    <button type="submit">Sign Up</button>
</section>